/********************************
M E D I A P L A Y E R
********************************/

.useHardware() {
	-webkit-transform: 	translate3d(0px, 0px, 0px);
	-moz-transform: 	translate3d(0px, 0px, 0px);
	-o-transform: 		translate3d(0px, 0px, 0px);
	-ms-transform: 		translate3d(0px, 0px, 0px);
	transform: 			translate3d(0px, 0px, 0px);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    -webkit-background-clip:padding-box; /* IOS fix */
    background-clip:padding-box; /* IOS fix */

	border: 0px solid transparent;
}
.setTransition(@prop) {
	-webkit-transition: ease-in-out @prop .25s;
	-moz-transition: ease-in-out @prop .25s;
	-o-transition: ease-in-out @prop .25s;
	transition: ease-in-out @prop .25s;
}
.square(@size) {
	width:@size;
	height:@size;
}
.circle(@size) {
	.square(@size);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow:hidden;
	.useHardware();
}

.setAnimation(@prop) {
	.setAnimation(@prop, 1s);
}
.setAnimation(@prop, @time) {
	.animated(@time);
	-webkit-animation-name: @prop;
	-moz-animation-name: @prop;
	-o-animation-name: @prop;
	animation-name: @prop;
}
body {
	-webkit-backface-visibility: hidden;
}
.animated(@time) {
	-webkit-animation-duration: @time;
	   -moz-animation-duration: @time;
	     -o-animation-duration: @time;
	        animation-duration: @time;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
@-webkit-keyframes roll {
	0% { -webkit-transform: translateX(0px) rotate(-360deg); }
	100% { -webkit-transform: translateX(0px) rotate(0deg); }
}
@-moz-keyframes roll {
	0% { -moz-transform: translateX(0px) rotate(-360deg); }
	100% { -moz-transform: translateX(0px) rotate(0deg); }
}
@-o-keyframes roll {
	0% { -o-transform: translateX(0px) rotate(-360deg); }
	100% { -o-transform: translateX(0px) rotate(0deg); }
}
@keyframes roll {
	0% { transform: translateX(0px) rotate(-360deg); }
	100% { transform: translateX(0px) rotate(0deg); }
}